@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap");

.nav-item {
  margin-top: 20px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  list-style-type: none !important;
  color: white;
}

.logo {
  float: left;
}

.right {
  /* width: 100%; */
  float: right;
  margin-right: 30px;
}

.img {
  height: 30px;
  width: 30px;
  background-color: white;
}

a {
  text-decoration: none !important;
}

/* something dark like this or white */
body {
  background-color: #1f2d33 !important;
}
