@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap");

.signInContainer {
  margin-top: 50px;
  border-radius: 20px;
  border-color: black;
  /* background: linear-gradient(45deg, #ff5f6d, #ffc371); */
  background-color: #004643;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);

  margin-bottom: 20px;
}

.signInHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: white;
  margin-left: 5vw;
  margin-top: 1vh;
  /* margin-bottom: 1vh; */
  margin-top: 4vh;
}

.tab {
  margin-left: 1.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: white;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
.input-form {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  width: 100%;
  padding: 12px 20px;
  /* margin-bottom: 20px; */
  margin: 0px 0;
  display: inline-block !important;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  transform: scale(0.99);
}

.signInSubHeader {
  width: 100% !important;
}

.input-form:focus {
  outline: none;
  transform: scale(1);
}

.submit-form {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: black;
  font-weight: 800;
  height: 60px;
  font-size: 26px;
  border-radius: 20px;
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.submit-form:hover {
  color: #f5f5f5 !important;
}
.submit-form:focus {
  outline: none;
}
.submit-form:active {
  transform: scale(0.96);
}

.signUpLinkContainer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.signUpLink {
  text-decoration: none !important;
  color: white !important;
  font-size: 23px;
  width: 100%;
  float: center;
}

.signUpLink:hover {
  color: #f5f5f5 !important;
}
